<a href="https://colab.research.google.com/github/pranav-2410/Project-ML/blob/master/Project_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**. Importing the required libreries :

In [175]:
 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**1**.1  Importing the Dataset into data

In [176]:
#to import the dataset which is csv format, we use read_csv("file_name.csv")
 
data = pd.read_csv("data2.csv")

In [177]:
#to display the top 5 rows we use head() function

data.head(5)

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [178]:
#to display the bottom 5 rows we use tail() function
data.tail(5)

          Make   Model  Year  ... city mpg  Popularity   MSRP
11909    Acura     ZDX  2012  ...       16         204  46120
11910    Acura     ZDX  2012  ...       16         204  56670
11911    Acura     ZDX  2012  ...       16         204  50620
11912    Acura     ZDX  2013  ...       16         204  50920
11913  Lincoln  Zephyr  2006  ...       17          61  28995

[5 rows x 16 columns]

**1**.2 Checking the *DataTypes* and *Basic Summary Statistics*

In [179]:
#getting information about the columns regarding the dtypes and null values

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [180]:
#checking the datatypes 

data.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [181]:
#statistical summary

data.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 8 columns]

**1**.3 Knowing the *Shape* of the DataSet

In [182]:
#checking the shape 

data.shape

(11914, 16)

**1**.4 Checking for *Null values*

In [183]:
#null values are found 

data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

**2** Dropping the less *Relevant columns*

In [184]:
#Market Category column can be dropped, as there is insufficiant data i.e having many null values
 
data.drop(['Market Category','Number of Doors'],axis=1,inplace=True)

In [185]:
#dataset after dropping 
data.head(5)

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 14 columns]

In [186]:
#shape of the dataset after dropping market category

data.shape

(11914, 14)

**3**  *Renaming* the columns

In [187]:
#renaming can to done using rename() function
#renaming is done to
data.rename(columns= {"Engine HP": "HP", "Engine Cylinders": "Cylinders", "Transmission Type": "Transmission",
                      "Driven_Wheels": "Drive Mode", "highway MPG": "MPG-H", "city mpg": "MPG-C", "MSRP": "Price"}, inplace= True)

data.head(5)

  Make       Model  Year  ... MPG-C  Popularity  Price
0  BMW  1 Series M  2011  ...    19        3916  46135
1  BMW    1 Series  2011  ...    19        3916  40650
2  BMW    1 Series  2011  ...    20        3916  36350
3  BMW    1 Series  2011  ...    18        3916  29450
4  BMW    1 Series  2011  ...    18        3916  34500

[5 rows x 14 columns]

**4**.1   *Checking* for *Duplicate Rows*

In [188]:
#to get the shape of duplicated data
duplicatedRows = data[data.duplicated()]
duplicatedRows.shape

(721, 14)

In [189]:
#the total number of duplicate rows can be known using duplicated() function
data.duplicated().sum()

721

**4**.2 *Dropping* the *Duplicated Rows*

In [190]:
#shape of dataset before dropping the duplicates
data.shape

(11914, 14)

In [191]:
#dropping the duplicate rows
data=data.drop_duplicates()

data.head(5)

  Make       Model  Year  ... MPG-C  Popularity  Price
0  BMW  1 Series M  2011  ...    19        3916  46135
1  BMW    1 Series  2011  ...    19        3916  40650
2  BMW    1 Series  2011  ...    20        3916  36350
3  BMW    1 Series  2011  ...    18        3916  29450
4  BMW    1 Series  2011  ...    18        3916  34500

[5 rows x 14 columns]

In [192]:
#shape of dataset after dropping the duplicates
data.shape

(11193, 14)

**4**.3 Checking for *Null Values* and  *Missing Values*

In [193]:
#to know the null or missing data we use the function isnull()
data.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     3
HP                  69
Cylinders           30
Transmission         0
Drive Mode           0
Vehicle Size         0
Vehicle Style        0
MPG-H                0
MPG-C                0
Popularity           0
Price                0
dtype: int64

````
As there are only few number of missing data, we could drop the missing data
````

**4**.4 Dropping of  *Missing Data*

In [194]:
#shape of the dataset before dropping the missing values
data.shape

(11193, 14)

In [195]:
#to drop the missing or null values we use 
data = data.dropna()

In [196]:
#shape of the dataset after dropping the missing data
data.shape

(11092, 14)

In [197]:
#checking the number of mmissing values
data.isnull().sum()

Make                0
Model               0
Year                0
Engine Fuel Type    0
HP                  0
Cylinders           0
Transmission        0
Drive Mode          0
Vehicle Size        0
Vehicle Style       0
MPG-H               0
MPG-C               0
Popularity          0
Price               0
dtype: int64

**5**.1  Plotting *Graphs* for various columns   to check for *Outliers*

```
The outliers  can be easily recognised using the boxgraph
```